#principal{
    margin-left: 500px;
}
#info{
    margin-right: 700px;
}
#classroom{
    font-size: 15;
}
#play{
    font-size: 15;
}
#new{
    font-size: 35;
    font-weight: bold;
}
#school achive{
 font-size: 35; 
    font-weight: bold;
}
#campus love{
    font-size: 35;
    font-weight: bold;
}
#h2{
     font-size: 35;
    font-weight: bold;
}